

body{
    background-color: #000000;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 440px;
    height: 440px;
    border-radius: 5px;
    background-color: #6272a4;
}

.char{
    width: 35px;
    height: 35px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-left: 2px;
    color: #50fa7b;
    font-family: 'Kanit', sans-serif;
}

